asgiref==3.9.2
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.1
cssselect2==0.8.0
Django==5.2.6
django-allauth==65.11.2
django-cors-headers==4.9.0
django-environ==0.12.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
fonttools==4.60.1
iniconfig==2.3.0
kaleido==1.2.0
logistro==2.0.1
narwhals==2.12.0
numpy==2.3.5
orjson==3.11.4
packaging==25.0
pillow==12.0.0
plotly==6.5.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pycparser==2.23
pydyf==0.11.0
Pygments==2.19.2
PyJWT==2.10.1
pyphen==0.17.2
pytest==9.0.1
pytest-timeout==2.4.0
reportlab==4.4.5
simplejson==3.20.2
sqlparse==0.5.3
tinycss2==1.5.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.4.0
